@import url(../images/http://fonts.googleapis.com/css?family=Oswald);
@import url(../images/http://fonts.googleapis.com/css?family=Lato:400,700,900);

#inside{
	margin-top: 10px;
	font-variant: small-caps;
}
/* Top Elements */
* { margin: 0; padding: 0; }

body {
	/*background: url(../images/bg.png);*/
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #000; 
	text-align: center;
	background-color: #f2f7f9;
	min-width: 700px;
	margin:0;
	padding:0;
	height:100%;
}
/* links */
a {
	background: inherit;
	text-decoration: none;
	color: #667F99;	
}
a:hover {
	background: inherit;
	color: #996800; 
}
/* headers */
h1, h2, h3 {
  font-family: "Lato", sans-serif;
	font-weight: Bold; 		
}
h1 { font-size: 120%; }
h2 { font-size: 110%; text-transform: uppercase; }
h3 { font-size: 110%; color: #f2f7f9; }

h1, h2, h3, p {
	margin: 0;
	padding: 10px;		
}
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

/* images */
img.float-right {
  margin: 5px 0px 5px 10px;  
}
img.float-left {
  margin: 5px 10px 5px 93px;
	position: fixed;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

/* blockquote */
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
   border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(../images/images/quote.gif) no-repeat 5px 5px;    
}

/* form elements */
form {
	margin:10px; padding: 0 5px;
	background-color: #FAFAFA; 
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em "Lato", sans-serif;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 1px; 
	font: bolder 12px "Lato", Sans-serif; 
	padding: 5px; 
	background: #636363;
	color: #FFFFFF;
	border: none;
}

/* login form */
form.login {
	padding: 0; margin: 0; 
	vertical-align: bottom;
	border: none;
	background-color: transparent;
}
form.login input.textbox { 
	padding:5px;
	border: none;
    border-radius: 0.0em; /* Ojo */
	font: normal 0.9em "Lato", sans-serif;
	color:#777;
	text-align: center;
}
form.login input.button {
	height: 26px;
	padding: 1px 3px;
	width: 70px;
    border-radius: 0.0em; /* Ojo */
}

input.higth_button {
	height: 50px;
	padding: 1px 3px;
    margin: auto auto auto 1em;
	width: 90px;
    border-radius: 0.3em; /* Ojo */
    font: bolder 12px Arial, Sans-serif; 
	background: #FFF;
	color: #275F6C;
}

input.small_button {
	height: 30px;
	padding: 1px 3px;
    margin: auto auto auto 1.5em;
	width: 70px;
    border-radius: 0.3em; /* Ojo */
    font: bolder 12px "Lato", Sans-serif; 
	background: #FFF;
	color: #275F6C;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	width: 100%;
	/*background: url(../images/bg.jpg);*/
	margin: 0 auto;
	text-align: left;
	background-color: #F2F7F9;
	min-height:100%;
	position:relative;
}
#content-wrap {
	position: relative;
	float: left;
	width: 45%;
	margin: 0 auto;
	padding: 10px;
}
/* header */
#header {
	position: relative;
	width: 100%;
	height: 100px;
	background: #FFF url(../images/header.jpg) repeat-x center top;
	margin: 0; padding: 0;
	font-size: 14px;
	color: #FFF;
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 42px "Lato", Sans-serif;
	letter-spacing: -2px;
	color: #FFF;
	text-transform: none;
	
	/* change the values of top and Left to adjust the position of the logo*/
	top: 19px; left: 53px;	
}
#header h2#slogan {
	position: absolute;
	z-index: 9999999;
	margin: 0; padding: 0;
	font: bold 12px "Lato", Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 65px; left:75px;			
}
#header #loginform {
	float: right;
	padding: 45px 40px 0 0;
	display: inline;
}
/* menu */
#menu {
	clear: both;
	width: 100%;
	height: 30px;
	background: #AAAAAA;
	margin: 0;
	font: bolder 12px/26px "Lato", Sans-Serif;
	font-weight: 700;
	font-size: 14px;
}
#menu ul{
	margin: 0; padding: 0 0 0 30;
}
#menu ul li {
	float: left;
	list-style: none;
	vertical-align: middle;
}
#menu ul li a {
	display: block;
	text-decoration: none;	
	padding: 0 10px;
	background: inherit;
	color: #FFF;
	height: 30px;
	vertical-align: middle;
}
#menu ul li a:hover {
	background: #636363; 
	color: #f2f7f9;  
}
#menu ul li#current a {	
	background: #f2f7f9; 
	color: #26a3e4;
}

/* Main */
#main {
	width: 100%;
	padding: 0;	margin: 0;	
}
#main h1 {
	color: #667F99; 
	border-bottom: 1px solid #CCCCCC;
	background: #F6F6F6 url(../images/arrow.gif) no-repeat 5px 50%;	
	padding: 3px 0 3px 20px;	
	margin: 10px 0 0 0;
}

.post-footer {
	background-color: #f2f7f9;
	padding: 5px; margin: 20px 10px 0 10px;
	border: 1px solid #f2f2f2;
	font-size: 95%;	
}
.post-footer .date {
	background: url(../images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(../images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(../images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* footer */
#footer {
	clear: both;
	color: #f3f7f9;
	font: bold 100% "Lato", sans-serif;
	background: #f2f7f9 url(../images/../images/footerbg.jpg) repeat-x center top;	
	width: 100%;
	height: 60px;
	text-align: center;
	margin: 0 auto;
}
#footer a { text-decoration: none; }

/* alignment classes */
.float-left  { float: left;}
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray { color: #CCC; }

/* Tabla */

table{     
    font-family: "Lato", Sans-Serif;
    font-size: 12px;   
    margin: 18px; 
    width: 480px; 
    text-align: left; 
    border-collapse: collapse;
    box-shadow: 0.1em 0.2em 0.3em #888888;
}

th {    
    font-size: 13px;     
    padding: 8px;    
    background: #30899F;  
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: Bold;
    border-radius: 0.5em;
}

td {   
    padding: 8px; 
    background: #f2f2f2;    
    border-bottom: 1px solid #fff;
    color: #30899F;   
    border-top: 1px solid transparent; 
    border-radius: 0.3em;
}

tr:hover td { background: #d0dafd; color: #339; }

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
input, textarea, select{
	border: solid 1px #26a3e4;
	color: #000000;
	font-size: 15px;
	margin-bottom: 5px;
}

input{
	height: 25px;
	font-family: "Lato", sans-serif;
}

label{
	font-size: 16px;
}

textarea{
	padding: 5px;
	width: 100%;
}

.input_header{
	padding: 3px;
	margin-left: 3px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
}

.input_form_cuerpo{
	padding: 3px;
	margin-left: 3px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	width: 100%;
}

.select_form_cuerpo{
	padding: 3px;
	margin-left: 3px;
	height: 34px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	width: 100%;
}


.button_header{
	margin-left: 3px;
	background-color: #636363;
	font-size: 16px;
	color: #FFFFFF;
	height: 32px;
	border: none;
}

.button_short{
	width: 90px;
}

.button_large{
	width: 120px
}

.button_whole{
	width: 100%;
	font-variant: small-caps;
}

.glow:hover{
	-webkit-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
}

li{
	font-size: 16px;
}