@import url(../images/http://fonts.googleapis.com/css?family=Oswald);
@import url(../images/http://fonts.googleapis.com/css?family=Lato:400,700,900);

#inside{
	margin-top: 10px;
	font-variant: small-caps;
	padding-top: 15px;
}
/* Top Elements */
* { margin: 0; padding: 0; }

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #000; 
	text-align: center;
	background-color: #f2f7f9;
	min-width: 800px;
	margin:0;
	padding:0;
	height:100%;
}
/* links */
a {
	background: inherit;
	text-decoration: none;
	color: #667F99;	
}
a:hover {
	background: inherit;
	color: #996800; 
}
/* headers */
h1, h2, h3 {
  font-family: "Lato", sans-serif;
	font-weight: Bold; 		
}
h1 { font-size: 120%; }
h2 { font-size: 110%; text-transform: uppercase; }
h3 { font-size: 110%; color: #f2f7f9; }

h1, h2, h3, p {
	margin: 0;
	padding: 10px;		
}

/* images */
img.float-right {
  margin: 5px 0px 5px 10px;  
}
img.float-left {
  margin: 5px 10px 5px 93px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

/* blockquote */
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
   border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(../images/images/quote.gif) no-repeat 5px 5px;    
}

/* form elements */
form {
	margin: 5px 5px 5px 5px;
}
label {
	display:block;
	font-weight:bold;
	margin-bottom: 6px;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em "Lato", sans-serif;
	height:100px;
	display:block;
	color: #000;
}
input.button { 
	margin: 1px; 
	font: bolder 12px "Lato", Sans-serif; 
	padding: 5px; 
	background: #636363;
	color: #FFFFFF;
	border: none;
}

/* login form */
.p_texto{
	background-color: #D6D6D6;
	font-size: 16px;
}

form.login {
	padding: 0; margin: 0; 
	vertical-align: top;
	background-color: transparent;
}
form.login input.textbox { 
	padding:5px;
	border: none;
    border-radius: 0.0em; /* Ojo */
	font: normal 0.9em "Lato", sans-serif;
	color:#777;
	text-align: center;
}
form.login input.button {
	height: 23px;
	padding: 1px 3px;
	width: 70px;
    border-radius: 0.0em; /* Ojo */
}

input.higth_button {
	height: 50px;
	padding: 1px 3px;
    margin: auto auto auto 1em;
	width: 90px;
    border-radius: 0.3em; /* Ojo */
    font: bolder 12px Arial, Sans-serif; 
	background: #FFF;
	color: #275F6C;
}

input.small_button {
	height: 35px;
	padding: 1px 3px;
  margin: auto auto auto 1.5em;
	width: 100%;
  border-radius: 0.3em; /* Ojo */
  font: bolder 14px "Lato", Sans-serif; 
	background: #FFF;
	color: #275F6C;
}

/********************************************
   LAYOUT
********************************************/ 
.body_inside{
	position:relative;
	margin-left: 19px;
}
#wrap {
	width: 100%;
	/*background: url(../images/bg.jpg);*/
	margin: 0 auto;
	text-align: left;
	background-color: #F2F7F9;
	min-height: 100%;
	position: relative;
}
#content-wrap {
	position: relative;
	float: left;
	width: 48%;
}
#main{
	padding: 10px;
}
/* header */
#header {
	position: relative;
	width: 100%;
	height: 100px;
	background: #FFF url(../images/header.jpg) repeat-x center top;
	margin: 0; padding: 0;
	font-size: 14px;
	color: #FFF;
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 42px "Lato", Sans-serif;
	letter-spacing: -2px;
	color: #FFF;
	text-transform: none;
	
	/* change the values of top and Left to adjust the position of the logo*/
	top: 19px; left: 53px;	
}
#header h2#slogan {
	position: absolute;
	z-index: 9999999;
	margin: 0; padding: 0;
	font: bold 12px "Lato", Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 65px; left:75px;			
}
#header #loginform {
	float: right;
	padding: 45px 40px 0 0;
	display: inline;
}
/* menu */
#menu {
	box-sizing:border-box;
	clear: both;
	width: 100%;
	height: 40px;
	background: #AAAAAA;
	margin: 0;
	padding-left: 30px;
	font-family: "Lato", Sans-Serif;
	font-weight: 600;
}
#menu_usuario {
	box-sizing:border-box;
	clear: both;
	width: 100%;
	height: 40px;
	background: #FFCC00;
	margin: 0;
	padding-left: 30px;
	font-family: "Lato", Sans-Serif;
	font-weight: 600;
}
#menu_gerente {
	box-sizing:border-box;
	clear: both;
	width: 100%;
	height: 40px;
	background: #33CCCC;
	margin: 0;
	padding-left: 30px;
	font-family: "Lato", Sans-Serif;
	font-weight: 600;
}
#menu_analista {
	box-sizing:border-box;
	clear: both;
	width: 100%;
	height: 40px;
	background: #666699;
	margin: 0;
	padding-left: 30px;
	font-family: "Lato", Sans-Serif;
	font-weight: 600;
}
#menu_administrador {
	box-sizing:border-box;
	clear: both;
	width: 100%;
	height: 40px;
	background: #339966;
	margin: 0;
	padding-left: 30px;
	font-family: "Lato", Sans-Serif;
	font-weight: 600;
}
#menu ul, #menu_usuario ul, #menu_gerente ul, #menu_analista ul, #menu_administrador ul {
}
#menu ul li, #menu_usuario ul li, #menu_gerente ul li, #menu_analista ul li, #menu_administrador ul li {
	box-sizing:border-box;
	float: left;
	list-style: none;
}
#menu ul li a, #menu_usuario ul li a, #menu_gerente ul li a, #menu_analista ul li a, #menu_administrador ul li a {
	font-size: 20px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	height: 40px;
	width: 200px;
	text-align: center;
}
.span_menu{
	vertical-align: middle;
	padding-top: 10px;
}
#menu ul li a:hover, #menu_usuario ul li a:hover, #menu_gerente ul li a:hover, #menu_analista ul li a:hover, #menu_administrador ul li a:hover {
	background: #636363; 
	color: #f2f7f9;
}
#menu ul li#current a, #menu_usuario ul li#current a, #menu_gerente ul li#current a, #menu_analista ul li#current a, #menu_administrador ul li#current a {
	box-sizing: border-box;
	background: #f2f7f9; 
	color: #26a3e4;
	font-variant: small-caps;
	border-bottom: solid 3px #26a3e4;
}

#main h1 {
	color: #667F99;
	font-variant-caps: all-small-caps;
	font-size: 23px;
	border-bottom: 2px solid #26a3e4;
	background: #F6F6F6 url(../images/arrow.gif) no-repeat 5px 50%;	
	padding: 3px 0 3px 20px;
	margin: 10px 0 0 0;
	cursor: pointer;
}

.post-footer {
	background-color: #f2f7f9;
	padding: 5px; margin: 20px 10px 0 10px;
	border: 1px solid #f2f2f2;
	font-size: 95%;	
}
.post-footer .date {
	background: url(../images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(../images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(../images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* footer */
#footer {
	clear: both;
	font: bold 100% "Lato", sans-serif;
	background-color: #AAAAAA;	
	width: 100%;
	height: 60px;
	text-align: center;
}
#footer a { text-decoration: none; }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray { color: #CCC; }

/* Tabla */

table{     
	font-family: "Lato", Sans-Serif;
	font-size: 14px; 
	width: 100%; 
	text-align: left; 
	border-collapse: collapse;
	box-shadow: 0.1em 0.2em 0.3em #888888;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #636363;
}

th {
	text-align: center;
	font-size: 15px;     
	padding: 8px;    
	background: #26a3e4;  
	border-bottom: 3px solid #636363;
	color: #fff;
	font-weight: Bold;
}

td {   
    padding: 8px; 
    background-color: #FFFFFF;    
    color: #000000;   
    border-top: 1px solid #636363;
}

tr:hover td {
	background: #d0dafd; 
	color: #339;
	cursor: pointer;
}

tr:hover{
	-webkit-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
input, textarea, select{
	border: solid 1px #26a3e4;
	color: #000000;
	font-size: 15px;
	margin-top: 2px;
}

input{
	height: 25px;
	font-family: "Lato", sans-serif;
}

label{
	font-size: 16px;
}

textarea{
	padding: 5px;
	width: 98%;
}

.input_header{
	padding: 3px;
	margin-left: 3px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
}

.input_form_cuerpo{
	padding: 3px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	width: 99%;
}

.select_form_cuerpo{
	padding: 3px;
	margin-left: 0px;
	height: 34px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #000000;
	width: 100%;
}

.button_header{
	margin-left: 3px;
	background-color: #636363;
	font-size: 16px;
	color: #FFFFFF;
	height: 32px;
	border: none;
}

.button_cuerpo{
	margin-top: 5px;
	background-color: #636363;
	font-size: 20px;
	color: #FFFFFF;
	height: 35px;
	border: none;
	border-radius: 5px;
}

.button_cuerpo:hover{
	cursor: pointer;
}

.button_header:hover{
	background-color: #636363;
	color: #26a3e4;
	font-variant: small-caps;
	cursor: pointer;
}

.button_short{
	width: 90px;
}

.button_large{
	width: 120px
}

.button_whole{
	width: 100%;
	font-variant: small-caps;
}

.glow:hover{
	-webkit-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.5);
}

li{
	font-size: 16px;
}

.msjError{
	text-align: center;
	background-color: red;
	color: white;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	padding: 10px;
}

@media screen and (max-width: 1258px){
	#content-wrap {
		width: 100%;
	}
	
	#main{
		padding: 0px;
		margin-right: 20px;
	}

	.button_cuerpo{
		margin-bottom: 15px;
	}
}