body{
	background-color: #F2F7F9;
	font-family: 'Lato', sans-serif;
}

.conex_ok_title{
	color:#09F;
	text-align:center;
	margin: auto;
}

.conex_ok_message{
	background-color:#CCC;
	color:#000;
	text-align:center;
	margin: 5px 5px 5px 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}